@import "tailwindcss";

/*CLASES PARA LAS CARTAS QUE NO ESTAN EN TAILWINDCSS*/
/* tailwind.css o global.css */
.backface-hidden {
  backface-visibility: hidden;
}
.preserve-3d {
  transform-style: preserve-3d;
}
.rotate-y-180 {
  transform: rotateY(180deg);
}
